html,body{
    background: #F7F9FC;
    margin: 0
}
.p-menubar ul.p-menubar-root-list {
    align-self: center;
    margin-left: auto;
}

.p-menubar-button{
    margin-left: auto;
}

.p-panel .p-panel-content{
    background: none;
    border: none
}

.p-progress-spinner, .p-inputtext{
    width: 100%
}