html,body{
    background: #E5E5E5;
    margin: 0
}
.p-menubar ul.p-menubar-root-list {
    align-self: center;
    margin-left: auto;
}

.p-menubar-button{
    margin-left: auto;
}

.p-panel .p-panel-content{
    background: none;
}

.p-progress-spinner{
    width: 100%
}